<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %} <!-- грузим фильтры -->
<!-- Название у нас будет Posts -->
{% block title %}
Posts
{% endblock title %}

<!-- В контенте на странице мы выводим все публикации -->
{% block content %}
<h1>Все публикации:({{ posts|length }})</h1>
    {% if posts %}
        <table>
            <tr>
                <td>Заголовок</td>
                <td>Дата публикации</td>
                <td>Содержание</td>
            </tr>
            {% for post in posts %}
            <tr>
                <td><a href="{{post.id}}">{{post.header|censor}}</a></td> <!-- цензорим -->
                <td>{{post.create_date|date:'d F Y'}}</td>
                <td>{{post.text|truncatechars:50|censor}}</td> <!-- цензорим -->
            </tr>
            {% endfor %}
        </table>
{% if is_paginated %}

    <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
    {% if page_obj.has_previous %}
        <a href="?page=1">First </a>
        <a href="?page={{ page_obj.previous_page_number }}">Prev</a>
    {% endif %}

    <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}"> Last</a>
    {% endif %}

{% endif %}
    {% else %}
        </table>
        <h2>Публикаций нет</h2>
    {% endif %}

{% endblock content %}