<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %} <!-- грузим фильтры -->
<!-- Название у нас будет Post -->
{% block title %}
Post
{% endblock title %}
<!-- В контенте на странице мы выводим одну новость но подробно -->
{% block content %}
<h1>{{ post.header|censor }}</h1> <!-- цензорим -->
<h6>{{post.create_date|date:'d F Y G:i'}}</h6>
<div><p>{{post.text|censor}}</p></div> <!-- цензорим -->
<div><p><a href = ".">Вернуться</a></p></div>
{% endblock content %}