<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %} <!-- грузим фильтры -->
<!-- Название у нас будет Posts -->
{% block title %}
Posts Search
{% endblock title %}

<!-- В контенте на странице мы выводим все публикации -->
{% block content %}
<h1>Поиск публикаций:({{ posts|length }})</h1>
    <form method="GET">
        {{filter.form}}
        <input type="submit" value="Найти">
    </form>
    {% if posts %}
        <table>
            <tr>
                <td>Заголовок</td>
                <td>Дата публикации</td>
                <td>Содержание</td>
            </tr>
            {% for post in filter.qs %}
            <tr>
                <td><a href="{{post.id}}">{{post.header|censor}}</a></td> <!-- цензорим -->
                <td>{{post.create_date|date:'d F Y'}}</td>
                <td>{{post.text|truncatechars:50|censor}}</td> <!-- цензорим -->
            </tr>
            {% endfor %}
    {% else %}
        </table>
        <h2>Публикаций нет</h2>
    {% endif %}

{% endblock content %}